# Ignore compiled Python files
*.pyc

# Ignore Python's cache directories
__pycache__/

# Ignore SQLite database file
*.sqlite3

# Ignore log files
*.log

# Ignore user-uploaded media files
media/

# Ignore collected static files
staticfiles/

# Ignore environment files
*.env

# Ignore virtual environment directory
venv/

# Ignore Node.js modules
node_modules/